* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.header_navbar {
    float:left;
}
/* .header_navbar ul {
    position: relative;
} */
.header_navbar ul li {
    position: relative;
}
.header_navbar ul li a {
    position: absolute;
}
/* .header_navbar ul li a:hover {
    color: black;
} */
.header_navbar ul #header_navbar_fir {
    top: 0;
    left: 0;
}
.header_navbar ul #header_navbar_sec {
    top: 0;
    left: 120px;
}
.header_navbar ul #header_navbar_th {
    top: 0;
    left: 240px;
}
.header_navbar ul #header_navbar_th ul {
    position: absolute;
    top: 100px;
    left: 60px;
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.header_navbar ul #header_navbar_th ul li {
    border-bottom: 1px solid #ccc;
}
.fr {
    float: right;
}
.style_red {
    color: #c81623;
}
/* 快捷导航模块 */
.shortcut {
    height: 66px;
    background-color: #f1f1f1;
}
.shortcut .fl img {
    height: 66px;
}
.shortcut .fr a {
    float: left;
    line-height: 66px;
    padding-right: 10px;
    color: #c81623;
    font-family: 'icomoon';
}
.shortcut .header_navbar .header_navbar_main  {
    float: left;
    height: 66px;
    line-height: 66px;
    padding-left: 50px;
    color: #c81623;
}
.shortcut .header_navbar .header_navbar_city {
    float: left;
    height: 66px;
    line-height: 66px;
    padding-left: 50px;
    color: #c81623;
}
/* 选择所有的偶数的小li */
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}
.shortcut .header_navbar .header_navbar_news {
    float: left;
    height: 66px;
    line-height: 66px;
    padding-left: 50px;
    color: #c81623;
} 
.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
footer {
    height: 200px;
    border-top: rgb(185, 140, 71) solid;
    background-color: black;
}