@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7hq5o8');
    src:  url('../fonts/icomoon.eot?7hq5o8#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?7hq5o8') format('truetype'),
      url('../fonts/icomoon.woff?7hq5o8') format('woff'),
      url('../fonts/icomoon.svg?7hq5o8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
* {
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.head {
    position: relative;
    margin: 0 auto;
    height: 80px;
    background-color: #ccc;
    box-shadow: 4px 4px 7px #888888;
}
.head ul .zhujiemian {
    position: absolute;
    font-family: 'icomoon';
    margin: 20px 100px;
    list-style: none;
}
.head ul .zhujiemian a {
  font-size: 30px;
  color: #c81623;
}
.head ul .zhuce {
    padding: 10px;
    list-style: none;
}
.head ul .zhuce a {
    color: #c81623;
}
.head ul .zhuce a:hover {
    color: pink;
}
.w {
    width: 1200px;
    margin: 20px auto;
}