
    <div class="w">
        <div class="fl">
            <a href="index.html">
                <img src="images/log.jpg" alt="">
             </a>
        </div>
        <div class="header_navbar">
            <ul>
                <li class="header_transform">
                    <div class="header_box">
                        <a href="index.html" class="header_navbar_main" id = "header_navbar_fir">
                            首&nbsp页
                        </a>
                        <a href="index.html" class="header_navbar_bottom">
                            LOL
                        </a>
                    </div>
                </li>
                <li>
                    <a href="projiectname/news.html" class="header_navbar_news" id = "header_navbar_sec">
                        新&nbsp闻
                    </a>
                </li>
                <li>
                    <a href="projiectname/city.html" class="header_navbar_city" id = "header_navbar_th">
                        城&nbsp邦
                    </a>
                    <!-- <ul>
                        <li>
                            <a href="#">艾</a>
                        </li>
                        <li>
                            <a href="#">皮</a>
                        </li>
                    </ul> -->
                </li>
            </ul>
        </div>
        <div class="fr">
            <a href="projiectname/register.html">注&nbsp册</a>
        </div>
    </div>
