<div class="w">
<div class="fl">
    <a href="../index.html">
        <img src="../images/log.jpg" alt="">
     </a>
</div>
<div class="header_navbar">
    <ul>
        <li>
            <a href="../index.html" class="header_navbar_main" id = "header_navbar_fir">
                首&nbsp页
            </a>
        </li>
        <li>
            <a href="../projiectname/news.html" class="header_navbar_news" id = "header_navbar_sec">
                新&nbsp闻
            </a>
        </li>
        <li>
            <a href="../projiectname/city.html" class="header_navbar_city" id = "header_navbar_th">
                城&nbsp邦
            </a>
        </li>
    </ul>
</div>
<div class="fr">
    <a href="register.html">注&nbsp册</a>
</div>
</div>